<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>SLA</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <h4>SLA(Соглашение об уровне обслуживания)</h4>
        </div>
        <div class="col">
            <a href="sla/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить SLA</a>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Названия</th>
            <th scope="col">Время реакции (час.)</th>
            <th scope="col">Время выполнения (час.)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="SLA : ${SLA}">
            <td th:text="${SLA.getNameSLA()}"></td>
            <td th:text="${SLA.getResponseTime()}"></td>
            <td th:text="${SLA.getExecutionTime()}"></td>
            <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!--                    <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">-->
<!--                    <a class="btn btn-sm btn-outline-success"-->
<!--                       th:href="'/sla/update/' + ${SLA.id}">Обновить</a>-->
                    <a class="btn btn-sm btn-outline-danger"
                       th:href="'/sla/delete/' + ${SLA.id}"
                       onclick="return confirm('Вы действительно хотите удалить?')">Удалить</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>