<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <h4>Группы пользователей</h4>
        </div>
        <div class="col">
            <a href="groups/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить группу</a>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Названия</th>
            <th scope="col">Роль</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.getId()}"></td>
            <td th:text="${group.getResponsible()}"></td>
            <td th:text="${group.getRole()}"></td>
            <td>
                <!--                    <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">-->
                <!--                    <a class="btn btn-sm btn-outline-success" th:href="'/groups/update/' + ${group.id}">Обновить</a>-->
                <a class="btn btn-sm btn-outline-danger"
                   th:href="'/groups/delete/' + ${group.id}"
                   style="float: right"
                   onclick="return confirm('Вы действительно хотите удалить группу?')">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>