<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Добавить исполнителя</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Добавить исполнителя</h3>
  <form method="POST" th:action="@{/users/add-executor}" th:object="${userForm}" class="needs-validation" novalidate style="max-width: 50vw">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="login" type="text" class="form-control" id="login" placeholder="Введите логин" required>
          <label for="login">Логин</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('login')}">
            <p th:errors="*{login}"></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="password" placeholder="Введите пароль" required>
          <label for="password">Пароль</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Введите фамилию" required>
          <label for="lastName">Фамилия</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="firstName" type="text" class="form-control" id="firstName" placeholder="Введите имя" required>
          <label for="firstName">Имя</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="middleName" type="text" class="form-control" id="middleName" placeholder="Введите отчество">
          <label for="middleName">Отчество</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="email" type="email" class="form-control" id="email" placeholder="Введите email" required>
          <label for="email">Email</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
            <p th:errors="*{email}"></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="phone" type="text" class="form-control" id="phone" placeholder="Введите телефон">
          <label for="phone">Телефон</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>

<!--      <div class="col-md">-->
<!--        <div class="form-floating">-->
<!--          <select class="form-select input-bg" name="slaId" id="slaId" required>-->
<!--            <option th:each="group : ${userForm.groupDTO.getId()}"-->
<!--                    th:value="${group}" th:text="${slaForms.getNameSLA()}"></option>-->
<!--          </select>-->
<!--          <label for="slaId">SLA</label>-->
<!--          <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
    <div class="mt-3 row g-2">
<!--      <div class="col-md">-->
<!--        <div class="form-floating">-->
<!--          <textarea name="address" type="text" class="form-control" id="address" placeholder="Адрес"></textarea>-->
<!--          <label for="address">Адрес</label>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Зарегистрироваться</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
