<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div layout:fragment="content">
      <div class="row">
        <div class="col">
            <h4>Пользователи</h4>
        </div>
        <div class="col">
            <a href="users/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить пользователя</a>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">e-mail</th>
            <th scope="col">Площадка</th>
            <th scope="col">Группа</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getMiddleName()}"></td>
            <td th:text="${user.getLogin()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getLocationId()}"></td>
            <td th:text="${user.getGroupId()}"></td>
            <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!--                    <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">-->
                    <a class="btn btn-sm btn-outline-success"
                       th:href="'/users/update/' + ${user.id}">Обновить</a>
                    <a class="btn btn-sm btn-outline-danger"
                       th:href="'/users/delete/' + ${user.id}"
                       onclick="return confirm('Вы действительно хотите удалить?')">Удалить</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>