<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="header">
    <nav class="navbar navbar-expand-lg px-0" style="background-color: #ffffff">
        <div class="container-fluid" style="padding-left: 0">
            <a class="navbar-brand" href="/" style="color: darkred">
                <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/logo.png" alt="" width="138" height="45">
            </a>
            <!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
            <!--              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
            <!--              aria-expanded="false" aria-label="Toggle navigation">-->
            <!--        <span class="navbar-toggler-icon"></span>-->
            <!--      </button>-->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/books">
                            <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/allTask.png" alt="" width="120"
                                 height="38">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/authors">
                            <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/report.png" alt="" width="90"
                                 height="38">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/my/books">
                            <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/users.png" alt="" width="120"
                                 height="38">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/my/books">
                            <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/topSetting.png" alt=""
                                 width="120" height="38">
                        </a>
                    </li>
                </ul>
                <form class="d-flex">
                    <a href="/logout" class="nav-link active" aria-current="page">
                        <img src="https://gitlab.com/GreekHohlov/sd_img/-/raw/main/exit.png" alt=""
                             width="50" height="38">
                    </a>
                </form>
            </div>
        </div>
    </nav>
</div>