<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Роли</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <h4>Роли пользователей</h4>
        </div>
<!--        <div class="col">-->
<!--            <a href="role/add"-->
<!--               class="btn btn-secondary"-->
<!--               role="button"-->
<!--               style="float: right"-->
<!--               aria-disabled="true">Добавить роль</a>-->
<!--        </div>-->
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Названия роли</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:text="${role.getId()}"></td>
            <td th:text="${role.getNameRole()}"></td>
        </tbody>
    </table>
</div>
</body>
</html>